*{margin:0;padding:0;}
.top{width:100%;height:32px;background:#f5f4f4;line-height:32px;position: relative;border-bottom: 1px solid #e6e6e6;color:#7f7f7a;font-size:14px;}
.top span{display:inline;}
.top .warp-cl{width:1190px;margin: 0 auto;}
.top .top-link{float: left;}

